
body {
    background-image: url("../img/fondo1.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}

main{
    text-align: center;

}

.col-10 {
    width: 100%;
    height: 20vh;
}

.col-11 {
    width: 100%;
    height: 10vh;
}

.col-12{
    width: 100%;
    height: 50vh;
}
.col-10 img{
    height: 15vh;
    margin: 10px 0px;
}

a {
    font-size: 20px;
    color: #FEE71C;
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    margin: 20px 60px;
    color: #FEE71C;
    font-family: 'Press Start 2P', cursive;
}

a:hover {
    font-size: 20px;
    color: darkorange;
    width: 100%;
    text-decoration: none;
}

li a {
    text-align: center;
    font-size: 12px;
}

li a:hover {
    font-size: 12px;
    color: darkorange;
    width: 100%;
    text-decoration: none;
}

a img{
    max-width: 50%;
    border-radius: 100%;
}


h1 {
    font-family: 'Lobster', cursive;
    color: #FEE71C;
    font-size: 50px;
}


li {
    /*font-family: 'Kanit', sans-serif;*/
    font-family: 'Press Start 2P', cursive;
    color: #FEE71C;
    font-size: 16px;
    width: 30%;
    float: left;
    list-style:none;
    margin: 10px;
    text-align: center;

}

.contenido li{
    font-family: 'Press Start 2P', cursive;
    color: #FEE71C;
    font-size: 12px;
    width: 22%;
    height: 40px;
    padding-top: 10px;
    float: left;
    list-style:none;
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
    border: solid 2px #FEE71C; 
}

